<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des dvds</title>
</head>
<body>
<h1>Liste des dvds</h1>
{% if dvds %}
<ul>
    {% for dvd in dvds %}
    <li>
        <strong>{{ dvd.name }}</strong> par {{ dvd.realisateur }} <br>
        statut:
         {% if dvd.disponible %}
        Disponible <br>
        <a href="{% url 'creer_emprunt_dvd' dvd.id 1 %}">Emprunter ce DVD (Emprunteur 1)</a>
        {% else %}
        Emprunté <br>
             {% if dvd.emprunt_en_cours %}
         <a href="{% url 'rendre_emprunt_dvd' dvd.emprunt_en_cours.id %}" >Rendre ce DVD</a>
        {% endif %}

        {% endif %}

    </li>
   {% endfor %}
</ul>
{% else %}
<p>Aucun dvd pour le moment</p>
{% endif %}
<p><a href="/menu/">Retour au menu</a> </p>
</body>
</html>