<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu Médiathèque</title>
</head>
<body>
<h1>Menu Médiathèque</h1>
<ul>
    <li><a href="{% url 'liste_livres' %}">Voir les livres</a></li>
    <li><a href="{% url 'liste_dvds' %}">Voir les DVDs</a></li>
    <li><a href="{% url 'liste_cds' %}">Voir les CDs</a></li>
    <li><a href="{% url 'liste_jeux' %}">Voir les jeux de plateau</a></li>
    <li><a href="{% url 'liste_membres' %}">Voir les membres</a></li>
</ul>
</body>
</html>
